/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.bread{
	margin: 20px 0px;
}
.prev{
	text-decoration: underline;
	color: black;
}
.wrapperForNews{
	min-width: 100%;
	margin: 20px 0px;
}
.containerForNews{
	max-width: 1200px;
	margin: 0px auto;
	padding: 5px;
}
.headerNews{
	border-bottom: solid gray 1px;
	margin: 20px 0px;
}
.headerNewsTitle{
	text-transform: uppercase;
	letter-spacing: 1px;
	font: 800 42px sans-serif;
	margin: 10px 0px;
	padding: 10px 0px;
}
.headerNewsBottom{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 10px;
}
.containerForContent{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:start;
	    -ms-flex-align:start;
	        align-items:flex-start;
	margin: 10px 0px;
}
.content{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 70%;
	        flex: 0 0 70%;
}
.content img{
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	margin-bottom: 5px;
}
.content > p{
	font-size: 14px;
	color: #707070;
	font-style: italic;
}
article{
	margin: 10px 0px;
	padding: 20px;
	font-size: 17px;
}
article > .keywords{
	font-style: italic;
	color: #707070;
}
article > p{
	margin: 10px 0px;
}
article > p > a, .more > a{
	color: #E84300;
	font-weight: bold;
}
article > p > a:hover, .more > a:hover{
	text-decoration: underline;
}
article > p > span{
	font-style: italic;
}
.more{
	text-align: center;
	font: 800 18px sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.nextNews{
	margin: 10px 0px;
}
.nextNews > p{
	padding-left: 5px;
}
.nextNews > p, .mostReadStories > p{
	font: 800 18px sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.continerForNesCards{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align:start;
	    -ms-flex-align:start;
	        align-items:flex-start;
}
.card{
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 250px;
	        flex: 1 0 250px;
	margin: 0px 5px 5px 5px;
	min-height: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.card > img, .advertisment img{
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	margin-bottom: 5px;
}
.cardTitle > a, .subTitle{
	font: bold 16px sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
}
.auth{
	margin: 5px 0px;
	font-size: 15px;
}
.shortPrev{
	font-size: 13px;
	color: gray;
	margin-top: 5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 52px;
	        flex: 1 1 52px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.time{
	font-size: 15px;
	margin-bottom: 5px;
}
/*Правая колонка*/
.rightSideBar{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
	margin: 0px 5px;
}
.advertisment > p{
	text-align: center;
}
.mostReadStories{
	margin: 60px 0px;
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	padding: 5px;
}
.miniCard{
	border-bottom: solid 1px gray;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	max-height: 100px;
	position: relative;
	margin: 5px 0px;
	padding: 5px 0px;
}
.miniCard picture{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 30%;
	        flex: 0 1 30%;
}
.miniCard img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.miniCardText{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 60%;
	        flex: 1 1 60%;
	margin-left: 5px;
	padding: 3px;
	font-size: 14px;
	
	text-transform: uppercase;	
}
.miniCardText a{
	color: gray;
}
.number{
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #E84300;
	color: white;
}
.wrapperForSubscribe{
	background-color: #ededed;
	padding: 20px 10px;
}
.subTitle{
	text-align: center;
	margin-bottom: 10px;
}
form.subscribeNewsletter > label #subscribeName{
	width: 70%;
}
.wrapperForSubscribe span > i{
	width: 10%;
}
.subscribeEmail, .subscribeName{
	width: 80%;
	margin: 10px 0px;
	padding: 2px;
}

.waveBtn{
	margin: 20px auto 10px auto;
}
.last{
	border: none;
}
@media all and (max-width: 1060px){
	.containerForContent{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.rightSideBar{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align:stretch;
		    -ms-flex-align:stretch;
		        align-items:stretch;
		border-top: solid 3px black;
		border-bottom: solid 3px black;
	}
	.advertisment{
		display: none;
	}
	.mostReadStories {
	   	 margin: 0px 5px 0px 0px;
	   	 -webkit-box-flex: 1;
	   	     -ms-flex: 1 1 65%;
	   	         flex: 1 1 65%;
	   	 border-top: none;
	   	 border-bottom: none;
	   	 border-right: solid 1px gray;
	}
	.wrapperForSubscribe{
		 -webkit-box-flex: 1;
		     -ms-flex: 1 1 30%;
		         flex: 1 1 30%;
		 background-color: white;

	}
	.miniCard{
		max-height: 150px;
	}
}
@media all and (max-width: 804px){
	.card{
		margin: 10px 5px 5px 5px;
	}
}
@media all and (max-width: 750px){
	.bread {
    	margin: 10px 0px 0px 0px;
	}
	.headerNewsTitle {
		font-size: 30px;
    	margin: 0px 0px;
	}
}
@media all and (max-width: 740px){
	.bread {
    	margin: 55px 0px 0px 0px;
	}
	.containerForContent {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	.rightSideBar {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    border: none;
	}
	.mostReadStories {
	    display: none;
	}
	.wrapperForSubscribe {
    	-webkit-box-flex: 1;
    	    -ms-flex: 1 1 auto;
    	        flex: 1 1 auto;
    	padding: 20px 20px;
    	background-color: #ededed;
	}
	#waveBtn{
		width: 280px;
	}
}
@media all and (max-width: 516px){
	.bread {
    	margin: 45px 0px -20px 0px;
	}
	.headerNewsTitle {
    	font-size: 24px;
	}
	.headerNewsBottom {
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
	}
	.headerNewsBottomRight{
		margin-top: 5px;
	}
	.content > p {
    	font-size: 12px;
	}
	article {
	    margin: 5px 0px;
	    padding: 10px;
	    font-size: 15px;
	}
	.more {
		font-size: 15px;
    	margin-bottom: 15px;
	}
	.nextNews > p, .mostReadStories > p {
	    font-size: 15px;
	    margin-bottom: 5px;
	}
}
@media all and (max-width: 400px){
	#waveBtn{
		width: 250px;
	}
}