/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.paralaxFaq{
	min-height: 1000px;
	background: url(../img/fones/faqBacJp.jpeg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.faq{
	margin: 40px 0px;
}

.contentTabs {
	font-size: 0;
	max-width: 1200px;
	margin: 0px auto;
	padding-bottom: 50px;
}
.contentTabs>input[type="radio"] {
	display: none;
}
#content-1, #content-2, #content-3, #content-4{
	display: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
}
/* отобразить контент, связанный с выбранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
	display: block;
}
.contentTabs>label {
	display: inline-block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-color: white;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 0px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.5;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.contentTabs>label:hover{
	color: #E84300;
}
.contentTabs>label:not(:first-of-type) {
	border-left: none;
}
.contentTabs>input[type="radio"]:checked+label {
	background-color: #ededed;
	border-bottom: 1px solid #ededed;
	color: #E84300;
}
.blockItem{
	margin: 20px 0px 25px 0px;
	border-bottom: solid 1px rgba(242, 45, 19, 0.2);
}
.blockTitle{
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	padding-bottom: 20px;
}
.blockTitle:hover{
	color: #E84300;;
}
.blockTitle::before, .blockTitle::after{
	content: "";
	width: 10px;
	height: 1px;
	background-color: black;
	position: absolute;
	top: 10px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.blockTitle::before{
	-webkit-transform: rotate(-40deg);
	    -ms-transform: rotate(-40deg);
	        transform: rotate(-40deg);
	right: 0px;
}
.blockTitle::after{
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
	right: 8px;
}
.blockTitle.show::before, .blockTitle.show::after{
	background-color: #E84300;
}
.blockTitle.show::before{
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
}
.blockTitle.show::after{
	-webkit-transform: rotate(-40deg);
	    -ms-transform: rotate(-40deg);
	        transform: rotate(-40deg);
}
.blockText{
	display: none;
	padding: 10px 30px 15px 30px;
}
.blockText > ul{
	margin: 0px 0px 15px 19px;
}
.blockText > i{
	margin-right: 7px;
}
@media all and (max-width: 1240px){
	.paralaxFaq{
		min-height: 700px;
	}
}
@media all and (max-width: 1020px){
	.paralaxFaq{
		min-height: 600px;
	}
}
@media all and (max-width: 833px){
	.contentTabs>label {
		padding: 10px 0px;
		font-size: 15px;
	}
	.blockTitle{
		padding-left: 20px;
		font-size: 15px;
		padding-bottom: 15px;
	}
	.blockItem {
		margin-top: 15px;
	}
	.blockText{
		font-size: 13px;
		padding: 10px 20px 15px 20px;
	}
}
@media all and (max-width: 728px){
	.paralaxFaq{
		min-height: 500px;
	}
	.mainTitle{
		height: 331px;
		width: 210px;
	}
	.mainText{
		font-size:58px;
		line-height: 1;
	}
}
@media all and (max-width: 677px){
	.contentTabs>label {
		display: block;
		width: 100%;
	}
	.contentTabs>label {
		font-size: 12px;
	}
	.blockTitle{
		padding-left: 10px;
		font-size: 12px;
		padding-bottom: 10px;
	}
}

@media all and (max-width: 460px){
	.blockTitle{
		max-width: 80%;
	}
	.blockTitle::before, .blockTitle::after{
		top: 7px;
	}
	.blockTitle::before{
		right: -20px;
		-webkit-transform: rotate(40deg);
		    -ms-transform: rotate(40deg);
		        transform: rotate(40deg);
	}
	.blockTitle::after{
		right: -28px;
		-webkit-transform: rotate(-40deg);
		    -ms-transform: rotate(-40deg);
		        transform: rotate(-40deg);
	}
}
