/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/
 *, body
    {
        -webkit-text-size-adjust: none; /*Для отключения автоматическиого изменения размеров шрифтов при изменении ориентации устройства*/
    }
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body, html{
	height: 100%;
}
.wrapper{
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main{
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
 .Column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.main a:hover{
	color: #E84300;
}
.mainTitle{
	height: 476px;
	width: 359px;
	background-color: white;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.mainText{
	font: 800 97px sans-serif;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	margin-top: 29px;
}
.Title, .Title > a{
	font: 500 20px sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 20px;
}
.Title > a{
	color: black;
}
body .active, .Title > a:hover{
	color: #E84300;
}
.brick{
	height: 1px;
	width: 40px;
	border: solid 1px #E84300;
	background-color: #E84300;
	margin: 20px 0px 20px 0px;
}
.mnemonic{
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	font-size: 76px;
}
.mnemonic a{
	color: black;
}
.BlackCont{
	background-color: black;
	text-align: center;
}
/*Слайдер*/
.slider img{
	width: 650px;
}
.sliderItem, .sliderItem a{
	position: relative;
}
.sliderItemNewsTetx{
	text-align: left;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
.sliderItemNewsTitle{
	text-transform: uppercase;
	font: 800 40px sans-serif;
}
.slider{
	margin: 50px 0px;
}
.slick-slider{
	min-width: 0;
	position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 50%;
	border: 0px;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus,
.slick-dots li button:hover, .slick-dots li button:active, .slick-dots li button:focus{
	cursor: pointer;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 15%;
	background: url('../img/logo/sl-arrow_l.svg') 0-0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 15%;
	background: url('../img/logo/sl-arrow_r.svg') 0-0 / 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
	border: solid 1px white;
	background-color: white;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	height: 4px;
	width: 40px;
	border: solid 1px #707070;
	background-color: #707070;
}
@media all and (max-width: 1077px){
	.slick-arrow, .slick-arrow.slick-prev, .slick-arrow.slick-next{
		display: none !important;
	}
}
@media all and (max-width: 690px){
	.sliderItem picture{
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 70%;
		        flex: 0 0 70%;
		padding-right: 20px;
	}
	.sliderItem picture > img{
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.sliderItemNewsTitle{
		font-size: 20px;
	}
	.sliderItemNewsAbout{
		font-size: 15px;
	}
	.sliderItemNewsTetx{
	    bottom: 10%;
	    right: 20%;
	}
}
/*Кнопка с орнаментом*/
.buttonSpecialWrapper{
	margin: 60px 0px 80px 0px;
	z-index: 0;
}
.buttonSpecial{
	position: relative;
	display: inline-block;
}
.buttonSpecial::before, .buttonSpecial::after{ /*Псевдоэлементы необходимы для создания красных линий*/
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	border: 3px solid #E84300;
	top: -10px;
	left: 50%;
	z-index: 1;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	margin: 0px 0px 0px -40px;
}
.buttonSpecial::before{
	-webkit-animation: rotate 20s infinite linear;
	        animation: rotate 20s infinite linear;
}
.buttonSpecial::after{
	-webkit-animation: rotate 25s infinite linear;
	        animation: rotate 25s infinite linear;
}
.buttonText{
	position: relative;
	height: 80px;
	padding: 0px 50px;
	border-radius: 50px;
	font-size: 20px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 10px;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	top: 0;
	overflow: hidden;
}
.buttonText::before, .buttonText::after{ /*Псевдоэлементы необходимы для создания светло-серого фона кнопки*/
	content: "";
	position: absolute;
	width: 51%;
	height: 100%;
	background-color: #ededed;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.buttonText::before{
	left: 0;
	z-index: 2;
}
.buttonText::after{
	right: 0;
}
.buttonText span{
	position: relative;
	z-index: 2;
}
.buttonSpecial:hover::before, .buttonSpecial:hover::after{
	left: 100%;
	opacity: 0;
}
.buttonSpecial:hover .buttonText::before{
	width: 100%;
}
.buttonSpecial:hover .buttonText::before, .buttonSpecial:hover .buttonText::after{
	background-color: #707070;
}
.buttonSpecial:hover .buttonText{
	top: -10px;
	color: white;
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
	-webkit-box-shadow: 0 5px 0px 0 #363636;
	        box-shadow: 0 5px 0px 0 #363636;
}
.buttonSpecial:active .buttonText{
	top: -7px;
	-webkit-box-shadow: 0 2px 0px 0 #363636;
	        box-shadow: 0 2px 0px 0 #363636;
	-webkit-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}
@-webkit-keyframes rotate{
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes rotate{
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
/*Поисковая строка*/
.searchBox{
	margin: 30px 0px;
	background-color: black;
	height: 44px;
	border-radius: 44px;
	padding: 10px;
}
.searchBox:hover .searchFAQ{
	width: 300px;
	padding: 0px 6px;
}
.searchBox:hover .searchBtn{
	background-color:white;
	color: black;
}
.searchBox:hover .searchBtn:hover{
	background-color: #eeeeee;
}
.searchBtn{
	border: none;
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
}
.searchBtn:hover{
	cursor: pointer;
}
.searchFAQ{
	border: none;
	outline: none;
	background: none;
	padding: 0px;
	color: white;
	font-size: 16px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	line-height: 40px;
	width: 0;
}
@media all and (max-width: 677px){
	.searchFAQ{
		width: 300px;
		padding: 0px 6px;
	}
}

@media all and (max-width: 460px){
	.searchFAQ{
		width: 240px;
	}
}
