/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.paralaxAbout{
	min-height: 1000px;
	background: url(../img/fones/paralaxAboutJp.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.about, .aboutDiploma{
	margin: 40px 0px 30px 0px;
}
.textAbout{
	max-width: 1200px;
	margin: 5px;
	padding: 5px;
}
.textAbout p{
	margin: 10px 0px;
}
.textAbout p a{
	text-decoration: underline;
	color: black;
}
.statistic, .diploma{
	-webkit-box-flex:  0;
	    -ms-flex:  0 0 70%;
	        flex:  0 0 70%;
}
.statistic img, .diploma img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.studingInfo, .diplomaInfo{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	opacity: 0;
	position: relative;
}
.animation{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s; 
	-webkit-animation: show 1s ease-in 1 300ms forwards; 
	        animation: show 1s ease-in 1 300ms forwards; 
}
.animationLeft{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s; 
	-webkit-animation: left 1s ease-in 1 300ms forwards; 
	        animation: left 1s ease-in 1 300ms forwards; 
}
.studingInfo > div, .diplomaInfo > div{
	-ms-flex-item-align:start;
	    align-self:flex-start;
	max-width: 150px;
	text-align: center;
}
.studingInfo > div > .mainText, .diplomaInfo > div > .mainText{
	font-size: 32px;
	color: #E84300;
}
.studingInfo > div > .studingInfoText, .diplomaInfo > div > .diplomaInfoText{
	font-size: 12px;
	margin: 5px 0px;
}
.modulesTitle > .Title{
	color: white;
}
.modulesTitle, .teachersTitle{
	min-width: 0;
}
.modulesTitleLink{
	padding: 10px 0px 30px 0px;
}
.diploma{
	margin-top: -95px;
	margin-bottom: 30px;
}
.organization{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.organization img{
	width: 100px;
}
/*Слайдер с учителями*/
.teachers{
	background-color: #ededed;
	text-align: center;
}
.sliderTeacher{
	padding-bottom: 30px;
	max-width: 1200px;
	margin: 0 auto;
}
.sliderTeacher img{
	width: 260px;
	margin: 0px 5px;
}
.sliderTeacherItemWrapper{
	position: relative;
}
.sliderTeacherItemNewsTetx{
	text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50px;
    color:  white;
    text-shadow: 1px 1px 2px black;
}
.sliderTeacherItemNewsTitle{
	text-transform: uppercase;
	font: 800 20px sans-serif;
}
@media all and (max-width: 1240px){
	.paralaxAbout{
		min-height: 700px;
	}
}
@media all and (max-width: 1230px){
	.sliderTeacherItemNewsTitle{
		font-size: 17px;
	}
	.sliderTeacherItemNewsAbout{
		font-size: 15px;
	}
}
@media all and (max-width: 1081px){
	.sliderTeacher{
		max-width: 900px;
	}
	.diploma {
		margin-top: -30px;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	.diploma .diplomaInfo{
		-webkit-box-ordinal-group:3;
		    -ms-flex-order:2;
		        order:2;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media all and (max-width: 1020px){
	.paralaxAbout{
		min-height: 600px;
	}
}
@media all and (max-width: 820px){
	.sliderTeacher{
		max-width: 600px;
	}
	.sliderTeacher img{
		margin: 0px;
	}
	.statistic{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	.studingInfo{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.studingInfo div .mainText, .diplomaInfo div .mainText{
    	font-size: 25px;
    	margin-top: 10px;
	}
	.studingInfo > div > .studingInfoText, .diplomaInfo > div > .diplomaInfoText{
		font-size: 10px;
	}
}
@media all and (max-width: 728px){
	.paralaxAbout{
		min-height: 500px;
	}
	.mainTitle{
		height: 331px;
		width: 210px;
	}
	.mainText{
		font-size:58px;
		line-height: 1;
	}
}
@media all and (max-width: 690px){
	.sliderTeacherItemNewsTetx{
	    left: 40px;
	}
	.sliderTeacherItem picture{
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 70%;
		        flex: 0 0 70%;
		padding-right: 20px;
	}
	.sliderTeacherItem picture > img{
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.sliderTeacherItemNewsTitle{
		font-size: 16px;
	}
	.sliderTeacherItemNewsAbout{
		font-size: 15px;
	}
	.textAbout{
		font-size: 14px;
	}
	.textAbout p{
		margin: 3px 0px;
	}
	.about, .aboutDiploma {
    	margin: 20px  0px;
	}
	.modulesTitleLink {
    	padding: 0px 0px 20px 0px;
	}
}
@media all and (max-width: 515px){
	.Title{
		margin-top: 5px
	}
	.sliderTeacherItemNewsTetx{
	    left: 20px;
	}
	.sliderTeacherItemNewsTitle{
		font-size: 14px;
	}
	.sliderTeacherItemNewsAbout{
		font-size: 13px;
	}
}
@-webkit-keyframes show{
	0%{
		opacity:0;
		right:-15%;
	}
	100% {
		opacity:1;
		right: 0%;
	}
}
@keyframes show{
	0%{
		opacity:0;
		right:-15%;
	}
	100% {
		opacity:1;
		right: 0%;
	}
}
@-webkit-keyframes left{
	0%{
		opacity:0;
		left:-15%;
	}
	100% {
		opacity:1;
		left: 0%;
	}
}
@keyframes left{
	0%{
		opacity:0;
		left:-15%;
	}
	100% {
		opacity:1;
		left: 0%;
	}
}