/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

*, body{
	margin: 0;
	padding: 0;
	font: normal 17px sans-serif;
	  -webkit-text-size-adjust: none;
}
.container{
	margin: 0px 5px;
}
header, footer{
	background-color: #ADD8E6;
	text-align: center;
}
header > h1, footer > h1{
	text-transform: uppercase;
	color:  #0000FF;
	font: 500 25px sans-serif;
	padding: 10px 0px;
}
.contentWrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
nav{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 200px;
	        flex: 0 0 200px;
	padding: 30px 0px 10px 30px;
	margin-right: 10px;
	background-color: #F0E68C;
}
nav > p{
	margin: 0px 0px 20px -10px;
	font-weight: bold; 
}
nav > ul li{
	margin: 5px 0px;
}
.content{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	background: url(../img/ball.png) top right repeat-Y;
}
.content > h2{
	margin: 20px 0px;
	text-align: center;
	text-transform: uppercase;
	font: 700 22px sans-serif;
}
.content > img{
	width: 199px;
	height: 132px;
	float: left;
	margin: 0px 10px 10px 0px;
}
.content > p{
	margin-bottom: 10px;
}
@media all and (max-width: 650px){
	header, footer{
		display: none;
	}
	.contentWrapper{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	nav{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		margin-right: 0px;
		padding: 30px 0px 10px 10px;
		background: none;
	}
	nav > p{
		margin: 0px 0px 20px 0px;
	}
	nav > ul{
		list-style: none;
	}
	nav > ul li{
		display: inline-block;
		margin: 5px 10px;
	}
	.content{
		background: none;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.content > img{
		float: none;
		width: 100%;
		height: auto;
		margin: 0px 0px 10px 0px;
	}
}