body{
	background-color: #F2F2F2;
}
h1{
	font: bold 4rem serif;
	text-align: center;
}
h2{
	font: bold 2rem serif;
	text-align: center;
	color: #23A4EA;
}
ul{
	list-style-type: circle;
}
code{
	color:black;
}
.Underline{
	text-decoration: underline;
}
.Important{
	font-weight: bold;
}
.Title, .Map, .Content{
	background-color: #FFFFFF;
	padding: 10px;
}
.Map{
	position: sticky;
	top:0px;
}
.col-md-3, li a{
	color: #23A4EA;
}
.Resurses{
	list-style-type: decimal;
}
.circle{
	width: 354px;
	height: 243px;
}
.rect{
	width: 376px;
	height: 280px;
}
.poly{
	width: 350px;
}
.infographic{
	width: 260px;
	height: 248px;
}
.Solar_system{
	width: 350px;
	height: 184px;
}
.Velosiped{
	width: 350px;
	height: 223px;
}